@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;700&display=swap');

*, *::after, *::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --background: #0e0e0f;
    --color: #fff;
    --color-2: #8a8a8a;

    --gap: 24px;
    --gap-double: calc(var(--gap) * 2);
    --gap-half: calc(var(--gap) / 2);
    --gap-quarter: calc(var(--gap) / 4);
}

html, body, div, header, footer, section, article, form, input, select, ul, li, ol, button, textarea,
a, p, h1, h2, h2, h3, h4, h5, h6, u, i, b, span, strong {
    margin: 0;
    padding: 0;
    border: 0;
    background: 0;
    font-family: inherit;
    font-style: inherit;
    font-size: 100%;
}

a, button {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

ul, ol {
    list-style: none;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--background);
    color: var(--color);

    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.loading {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--background);
    z-index: 10000;
    transition: opacity .3s;
}


header {
    -webkit-user-select: none;
    user-select: none;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: var(--background);
}

header a {
    font-size: 20px;
}

.headerLogo {
    cursor: pointer !important;
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: 200 !important;
}

header > * {
    background-color: var(--background);
    padding: 0 var(--gap-half);
}

.headerWrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--gap);
    height: 100%;
}

header ul {
    display: flex;
    align-items: center;
    margin-left: auto;
}

header ul li {
    display: inline-block;
    padding-left: var(--gap-half);
}

header ul li a {
    color: var(--color-2);
    transition: color .15s;
    font-size: 14px;
}

header ul li a:hover {
    color: var(--color);
}

.headerWrapper::before {
    z-index: -1;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--color-2);
    width: 100%;
    height: 2px;
}

@media (max-width: 992px) {
    .header {
        padding: 0 var(--gap-half);
    }
}


section {
    position: relative;
    padding: var(--gap-double) 0;
}

.sectionHero {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--gap);
    color: var(--color-2);
}
.sectionHero h1 {
    font-size: 64px;
    margin-bottom: var(--gap);
}

.sectionHero h2 {
    font-size: 28px;
    font-weight: 400;
}

.highlight {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: var(--color);
    font-weight: bold;
    transition: color .15s;
}

.highlight::before {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #3742fa;
    border-radius: 50px;
    transform: scaleX(0);
    transition: transform .15s;
}

.highlight:hover::before {
    transform: scaleX(1);
}

.highlight:hover {
    color: #3742fa;
}

.heroWrapper {
    max-width: 768px;
    padding: 0 var(--gap);
}


.arrows {
    position: absolute;
    left: 50%;
    bottom: var(--gap);
    transform: translateX(-50%);
}

.arrow {
    width: 20px;
    height: 20px;
    border-bottom: 2px solid var(--color);
    border-right: 2px solid var(--color);
    transform: rotate(45deg);
    opacity: 0;

    animation: arrow 1.5s infinite ease;
}

.arrow:nth-child(1) {
    animation-delay: .1s;
}
.arrow:nth-child(2) {
    animation-delay: .2s;
}

@keyframes arrow {
    0% {
        opacity: 0;
        transform: translateY(-10px) rotate(45deg);
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(0) rotate(45deg);
    }
}



.wrapper {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.imagesList {
    display: grid;
    gap: var(--gap-half);
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
}

.imagesList img {
    display: block;
    width: 100%;
    height: 100%;
}

.imagesList > div {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.imagesList > div:hover .content {
    visibility: visible;
}

.imagesList > div:nth-child(1) {
    grid-column: 1 / 1;
    grid-row: 1 / 3;
}

.imagesList > div:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / 1;
}

.imagesList > div:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
}

.imagesList > div:nth-child(4) {
    grid-column: 3 / 5;
    grid-row: 1;
}


.imagesList .content {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, .75);
    backdrop-filter: blur(5px);
    color: #fff;
}

.imagesList .content h3 {
    font-size: 24px;
}

section:not(.sectionHero) h2 {
    position: relative;
    font-size: 32px;
    margin-bottom: var(--gap);
    padding-left: calc(var(--gap) * 1.5);
}

section:not(.sectionHero) h2::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    background-color: #3742fa;
    height: 3px;
    border-radius: 50px;
}



.borderLeft {
    padding-left: var(--gap-half);
    margin-left: var(--gap-half);
    border-left: 1px solid var(--color-2);
}


footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--gap);
    margin-top: auto;
}


.footerList li {
    display: inline-block;
}

.footerList a {
    font-size: 14px;
    color: var(--color-2);
    transition: color .15s;
}

.footerList a:hover {
    color: var(--color);
}

.copyright {
    font-size: 14px;
    color: var(--color-2);
}


@media (max-width: 992px) {
    header {
        font-size: 14px;


    }

    header h2 {
        font-size: 18px;
    }

    header svg {
        width: 16px;
        height: 16px;
    }

    .headerWrapper {
        padding: 0 var(--gap-half);
    }


    .sectionHero h2 {
        font-size: 24px;
    }

    .sectionHero h1 {
        font-size: 38px;
    }

    .headerLogo {
        position: unset !important;
        top: 0;
        left: 0;
        transform: unset;
    }
}
